{
    "root": true,
    "extends": [
        "finn",
        "finn/node",
        "finn-prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "overrides": [{
        "files": "__tests__/**/*",
        "env": {
            "jest": true
        }
    }]
}
