; Don't download optionalDependencies and peerDependencies.
; Conflicting peerDependencies is a source of issues with npm install.
; This setting forces us to be explicit about listing dependencies.
omit=optional
omit=peer

registry=https://registry.npmjs.org

; Prefer specifying dependency versions explicitly. Renovate will open
; pull requests that handle most dependency updates for you.
save-exact=true

; Treat conflicting peerDependencies as a failure,
; even if npm can reasonably guess an appropriate resolution.
strict-peer-deps=true

; Renovate will update packageManager for us.
update-notifier=false
