{% extends podium.template %}

{% block content %}
<menu>
    <ul>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_1/">Menu 1</a></li>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_2/">Menu 2</a></li>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_3/">Menu 3</a></li>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_4/">Menu 4</a></li>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_5/">Menu 5</a></li>
        <li><a href="{{podium.context.mountOrigin}}{{podium.context.mountPathname}}/section_6/">Menu 6</a></li>
    </ul>
</menu>
{% endblock %}
