{% extends podium.template %}

{% block content %}
<menu>
    <ul>
        <li>Fallback Menu 1</li>
        <li>Fallback Menu 2</li>
        <li>Fallback Menu 3</li>
        <li>Fallback Menu 4</li>
        <li>Fallback Menu 5</li>
        <li>Fallback Menu 6</li>
        <li>Fallback Menu 7</li>
    </ul>
</menu>
{% endblock %}
