{% extends podium.template %}

{% block content %}
<section>
    <h2>Hovedinnhold</h2>
    <p>I det samme så de trollene komme settende, og de var så store og digre at hodene på dem var jevnhøye med furutoppene. Men de hadde bare ett øye sammen alle tre, og det skiftedes de til å bruke; de hadde et hull i pannen, som de la det i, og styrte det med hånden; den som gikk foran, han måtte ha det, og de andre gikk etter og holdt seg i den første.</p>
    <p>Ja, broren rente føre, og trollene dro etter. Imens kom den eldste gutten bak dem og hugg til det bakerste trollet i fotleddet, så det slo opp et fælslig skrik, og det første ble så skremt at det skvatt, og slapp øyet, og gutten var ikke sen til å snappe det. Det var større enn om en hadde lagt i hop to potteskåler, og så klart var det, at enda det var fullmørke natten ble det som lyse dagen da han så igjennom det.</p>
</section>
<section id="content"
        data-mount-origin="{{podium.context.mountOrigin}}"
        data-mount-pathname="{{podium.context.mountPathname}}"
        data-public-pathname="{{podium.context.publicPathname}}">
        n/a
</section>
{% endblock %}
